<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messenger_server.mapper.UserMapper">
    <select id="findByUsername" resultType="com.messenger_server.domain.User">
        SELECT * FROM users WHERE username = #{username}
    </select>
    <update id="updateLoginStatusAndLastLoggedIn" parameterType="map">
        UPDATE users
        SET login_status = #{loginStatus}, last_logged_in = #{lastLoggedIn}
        WHERE username = #{username}
    </update>
</mapper>
